/* 

  skills section 

*/

@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

/* ------------------------------ */
/* flex box */
.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-bottom: 2px solid #000000;
  padding: 50px 0px 50px 0px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.logoBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------- */
.logoBar {
  width: 8.5rem;
  height: 10.5rem;
  border: 2px solid #000000;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.35s;
}

.logoBar:hover {
  box-shadow: 0px 0px 5px #000000;
}

/* ------------------------ */
.skills-header h1 {
  font-family: Chicle;
  font-size: /*2rem; */ clamp(2rem, calc(2.5vw + 1rem), 5rem);
  padding-bottom: 30px;
}
.logoBar h3 {
  font-family: Atma;
  font-size: (1rem, calc(1.9vw + 1rem), 1.5rem);
  font-weight: 500;
}
