@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");

.footer {
  padding: 10px 0px 10px 0px;
  background: #40b5ad;
}

.footer p {
  font-family: Atma;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
}
